@()(implicit user: Option[models.User])

@import settings.Setting

@main("download", user) {

    <h2><img src="/assets/images/Fire-Toy-icon.png"/>利用規約</h2>
    <br>
    <h3>本サイトに投稿されたモデルデータの利用条件</h3>
    <p>
        DOGAを使用して作成されたモデルデータは、作成者とDoGA様との共同著作物となります。<br>
        商用利用を行う場合、作成者・DoGA様双方からの許諾が必要です。<br>
    </p>
    <h3>本サイトにモデルデータを投稿する際の条件</h3>
    <p>
        ユーザーが本サイトに投稿したモデルデータは、非商業的な使用に限り、誰もが自由に利用することができるものとします。<br>
        モデルデータをアップロードした際は、ユーザーは上記条件に同意したものとみなします。
    </p>
    
    <br><br>

    <h2><img src="/assets/images/Fire-Toy-icon.png"/>ダウンロード</h2>
    <br>
    
    <h3>JavaScriptファイルのみ</h3>
    <p>
        <a href='https://raw.github.com/daishihmr/dev7-enchant-doga/v5.0/dev7-doga-enchantjs/dogencha.enchant.js' class="btn btn-large btn-primary">Download JavaScript File</a><br>
        本サイトで作成できるモデルデータをgl.enchant.jsで利用するためのJavaScriptライブラリです。
    </p>

    <h3>サンプルプロジェクト</h3>
    <p>
        <a href='@routes.Assets.at("file/sample-1.0-SNAPSHOT.zip")' class="btn btn-large btn-primary">Download Sample Project</a><br>
        本サイトで作成できるモデルデータを使用したサンプルプログラムです。
    </p>

}
