@(uploadDir: java.io.File)(implicit user: Option[models.User], flash: Flash)

@import views.html.helper._
@import util.Controllers._
@import settings.Setting

@main("new data make up", user) {
<link rel="stylesheet" type="text/css" href='@routes.Assets.at("jquery-treeview/jquery.treeview.css")' />
<style type="text/css">
#tree-view {
    height: 550px;
    overflow: scroll;
}
</style>

    <h2><img src="/assets/images/lilas-toy-icon.png">ルートファイル選択</h2>
    <br>

    <div>
    @flash.get("error").map { e =>
        <div class="alert fade in">
            <a class="close" data-dismiss="alert">&times;</a>
            <div>@e</div>
        </div>
    }
        <div class="alert alert-info fade in">
            <a class="close" data-dismiss="alert">&times;</a>
            <div>モデルデータ読み込みの起点となるファイルを選択して下さい。</div>
        </div>
    </div>

    <div class="row">
    @form(action = routes.Application.selectFile, 'id -> "form") {
        <div class="span4" id="tree-view">
            <ul id="file-list" class="filetree">@list(uploadDir)</ul>
        </div>
        <div class="span8">
            <div id="enchant-stage"></div>
            <br/>
            <p id="submit-area" style="display:none">
                <input type="text" id="selected-file" name="dataName" readonly="readonly" style="width:80%" /><br/><br/>
                このファイルを…<br/>
                <input type="submit" id="submit" value="ルートファイルにしてモデルデータを作成" class="btn btn-primary btn-large submit-button" style="width:80%"><br/><br/>
                <a href="javascript:void(0)" id="submit-delete" class="btn btn-large submit-button" style="width:75%">削除する</a><br/>
            </p>
        </div>
    }
    </div>

<script type="text/javascript" src='@routes.Assets.at("jquery-treeview/jquery.treeview.js")'></script>
<script src='http://@(Setting.staticServerName)/enchant.js/plugins/libs/gl-matrix-min.js' type='text/javascript'></script>
<script src='http://@(Setting.staticServerName)/enchant.js/enchant.min.js' type='text/javascript'></script>
<script src='http://@(Setting.staticServerName)/enchant.js/plugins/gl.enchant.js' type='text/javascript'></script>
<script src='http://@(Setting.staticServerName)/enchant.js/plugins/primitive.gl.enchant.js' type='text/javascript'></script>
<script src='@routes.Assets.at("file/dogencha.enchant.js")' type='text/javascript'></script>
<script src='@routes.Assets.at("javascripts/util.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/makeup.js")' type="text/javascript"></script>
<script type="text/javascript">
$(function() {
	$("#file-list").treeview({
		animated: "fast",
        collapsed: false
    });
	$("#form").submit(function() {
		$("#submit-area").hide();
	});
});
</script>
}

@list(f: java.io.File) = {
  @if(f.isFile) {
    @if("(.+\\.(fsc|l2p|l2c|l3p|l3c)$)".r.findFirstIn(f.getName).isDefined) {
      <li><span class="file"><a class="file-node" href="javascript:void(0)" data-value='@dataPath(f)'>@f.getName</a></span></li>
    }
  } else {
    <li><span class="folder">@f.getName</span><ul>@for(c <- f.listFiles().toList.sortWith((a,b) => a.getName() < b.getName() )) { @list(c) }</ul></li>
  }
}
